<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Virtual Valhalla</title>

<meta name="description" content="Decentralized infrastructure gateway">
<meta property="og:title" content="VirtualValhalla">
<meta property="og:description" content="Infrastructure • Streaming • Automation • AI Ops">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">

</head>

<body>

<div class="grid"></div>
<div class="glow"></div>

<div class="container">

    <div class="logo">
        VIRTUAL VALHALLA
    </div>

    <div class="line"></div>

    <div class="subtitle">
        Decentralized infrastructure gateway.<br>
        Streaming • Automation • AI Ops • Open Systems
    </div>

    <div class="status">
        <div class="dot"></div>
        <span>NODE ONLINE</span>
    </div>

    <div class="buttons">

        <!-- CAMBIA ESTA IP CUANDO QUIERAS -->
        <a class="button" href="https://75.119.145.5">
            ENTER NODE
        </a>

        <a class="button" href="/docs">
            DOCUMENTATION
        </a>

        <a class="button" href="#">
            STATUS
        </a>
        
    </div>
    <div class="line"></div>
    <div class="buttons">

        <a class="button" href="https://www.twitch.tv/0xdimonet78" target="_blank">
            Twitch/0xDimonet78
        </a>

    </div>

</div>

<div class="footer">
    VIRTUAL VALHALLA.DAO
</div>

</body>
</html>